@using DVRP.Domain.Entities;

<DataGrid TItem="Customer" Data="@Customers" @bind-SelectedRow="@_selectedCustomer"
          Editable Responsive ShowPager CommandMode="DataGridCommandMode.ButtonRow">
    <DataGridColumns>
        <DataGridNumericColumn Field="@nameof(Customer.Id)" Caption="Id" Sortable="false" />
        <DataGridNumericColumn Field="@nameof(Customer.X)" Caption="Latitude" Editable />
        <DataGridNumericColumn Field="@nameof(Customer.Y)" Caption="Longitude" Editable />
        <DataGridNumericColumn Field="@nameof(Customer.Demand)" Caption="Demand" Editable />
    </DataGridColumns>
    <ButtonRowTemplate>
        <Button Color="Color.Success" Clicked="context.NewCommand.Clicked">New</Button>
        <Button Color="Color.Primary" Disabled="(_selectedCustomer is null)" Clicked="context.EditCommand.Clicked">Edit</Button>
        <Button Color="Color.Danger" Disabled="(_selectedCustomer is null)" Clicked="context.DeleteCommand.Clicked">Delete</Button>
    </ButtonRowTemplate>
</DataGrid>