<Tabs SelectedTab="@_selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name="depots">Depots</Tab>
        <Tab Name="vehicles">Vehicles</Tab>
        <Tab Name="customers">Customers</Tab>
    </Items>
    <Content>
        <TabPanel Name="depots">
            <DepotsInput Depots="@Data.Depots" DepotsChanged="OnDataChanged" />
        </TabPanel>
        <TabPanel Name="vehicles">
            <VehiclesInput Vehicles="@Data.Vehicles" VehiclesChanged="OnDataChanged" Depots="@Data.Depots" />
        </TabPanel>
        <TabPanel Name="customers">
            <CustomersInput Customers="@Data.Customers" CustomersChanged="OnDataChanged" />
        </TabPanel>
        <Button Color="Color.Primary" Clicked="@UploadTestScenario1">Test Scenario 1</Button>
    </Content>
</Tabs>
