@using DVRP.Domain.Entities;

<DataGrid TItem="Vehicle" Data="@Vehicles" @bind-SelectedRow="@_selectedVehicle"
          Editable EditMode="DataGridEditMode.Popup" Responsive ShowPager CommandMode="DataGridCommandMode.ButtonRow" >
    <DataGridColumns>
        <DataGridColumn Field="@nameof(Vehicle.Id)" Caption="Id" Sortable="false" />
        <DataGridNumericColumn Field="@nameof(Vehicle.Capacity)" Caption="Capacity" Editable />
        <DataGridSelectColumn Field="@nameof(Vehicle.DepotId)" Caption="Depot Id" Editable >
            <EditTemplate>
                <Validation Validator="@CheckDepotId">
                    <Select TValue="string" SelectedValue="@((string)context.CellValue)"
                            SelectedValueChanged="@(value => context.CellValue = value)">
                        <SelectItem>Choose depot</SelectItem>
                        @foreach (var depot in Depots)
                        {
                            <SelectItem Value="@(depot.Id)">@(depot.Id)</SelectItem>
                        }
                    </Select>
                </Validation>
            </EditTemplate>
        </DataGridSelectColumn>
    </DataGridColumns>
    <ButtonRowTemplate>
        <Button Color="Color.Success" Clicked="context.NewCommand.Clicked">New</Button>
        <Button Color="Color.Primary" Disabled="(_selectedVehicle is null)" Clicked="context.EditCommand.Clicked">Edit</Button>
        <Button Color="Color.Danger" Disabled="(_selectedVehicle is null)" Clicked="context.DeleteCommand.Clicked">Delete</Button>
    </ButtonRowTemplate>
</DataGrid>