@page "/"

<div class="container">
    <h1 class="my-3">Dynamic Vehicle Routing Problem Analyzer</h1>
    <Accordion>
        <Collapse Visible="@(accordionControl == 1)">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    <AccordionToggle Clicked="(_) => accordionControl = 1">Select Algorithm</AccordionToggle>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                <SelectAlgorithm SelectedAlgorithm="@SelectedAlgorithm" SelectedAlgorithmChanged="OnSelectedAlgorithmChanged"
                                 @bind-AlgorithmParameters="AlgorithmParameters" />
            </CollapseBody>
        </Collapse>
        <Collapse Visible="@(accordionControl == 2)">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    <AccordionToggle Clicked="(_) => accordionControl = 2">Dynamic Vehicle Routing Problem Data</AccordionToggle>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                <DvrpDataInput Data="@Data" DataChanged="OnDataChanged" />
            </CollapseBody>
        </Collapse>
        <Collapse Visible="@(accordionControl == 3)">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    <AccordionToggle Clicked="(_) => accordionControl = 3">Solve DVRP</AccordionToggle>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                <SolvingResult @bind-Solution="Solution" />
                <Button Color="Color.Primary" Clicked="RunSolver">Run Solver</Button>
            </CollapseBody>
        </Collapse>
    </Accordion>
</div>